alabaster==1.0.0
    # via sphinx
altgraph==0.17.4
    # via pyinstaller
astroid==3.3.9
    # via pylint
asttokens==3.0.0
    # via stack-data
attrs==25.3.0
    # via flake8-bugbear
babel==2.17.0
    # via sphinx
black==25.1.0
    # via
    #   flake8-black
    #   gitcache (pyproject.toml)
certifi==2025.4.26
    # via requests
charset-normalizer==3.4.1
    # via requests
click==8.1.8
    # via black
coloredlogs==15.0.1
    # via gitcache (pyproject.toml)
coverage[toml]==7.8.0
    # via
    #   gitcache (pyproject.toml)
    #   pytest-cov
decorator==5.2.1
    # via ipython
dill==0.4.0
    # via pylint
docutils==0.21.2
    # via
    #   sphinx
    #   sphinx-rtd-theme
dom-toml==2.0.1
    # via sphinx-pyproject
domdf-python-tools==3.10.0
    # via
    #   dom-toml
    #   sphinx-pyproject
executing==2.2.0
    # via stack-data
flake8==7.2.0
    # via
    #   flake8-black
    #   flake8-bugbear
    #   flake8-comprehensions
    #   flake8-isort
    #   flake8-pyproject
    #   gitcache (pyproject.toml)
    #   pep8-naming
flake8-black==0.3.6
    # via gitcache (pyproject.toml)
flake8-bugbear==24.12.12
    # via gitcache (pyproject.toml)
flake8-comprehensions==3.16.0
    # via gitcache (pyproject.toml)
flake8-isort==6.1.2
    # via gitcache (pyproject.toml)
flake8-pyproject==1.2.3
    # via gitcache (pyproject.toml)
humanfriendly==10.0
    # via coloredlogs
idna==3.10
    # via requests
imagesize==1.4.1
    # via sphinx
iniconfig==2.1.0
    # via pytest
ipython==9.2.0
    # via gitcache (pyproject.toml)
ipython-pygments-lexers==1.1.1
    # via ipython
isort==6.0.1
    # via
    #   flake8-isort
    #   gitcache (pyproject.toml)
    #   pylint
jedi==0.19.2
    # via ipython
jinja2==3.1.6
    # via sphinx
markupsafe==3.0.2
    # via jinja2
matplotlib-inline==0.1.7
    # via ipython
mccabe==0.7.0
    # via
    #   flake8
    #   pylint
mock==5.2.0
    # via gitcache (pyproject.toml)
mypy==1.15.0
    # via gitcache (pyproject.toml)
mypy-extensions==1.1.0
    # via
    #   black
    #   mypy
natsort==8.4.0
    # via domdf-python-tools
packaging==25.0
    # via
    #   black
    #   pyinstaller
    #   pyinstaller-hooks-contrib
    #   pytest
    #   sphinx
parso==0.8.4
    # via jedi
pathspec==0.12.1
    # via black
pep8-naming==0.14.1
    # via gitcache (pyproject.toml)
pexpect==4.9.0
    # via ipython
platformdirs==4.3.7
    # via
    #   black
    #   pylint
pluggy==1.5.0
    # via pytest
portalocker==3.1.1
    # via gitcache (pyproject.toml)
prompt-toolkit==3.0.51
    # via ipython
ptyprocess==0.7.0
    # via pexpect
pure-eval==0.2.3
    # via stack-data
pycodestyle==2.13.0
    # via
    #   flake8
    #   gitcache (pyproject.toml)
pyflakes==3.3.2
    # via flake8
pygments==2.19.1
    # via
    #   ipython
    #   ipython-pygments-lexers
    #   sphinx
pyinstaller==6.13.0
    # via gitcache (pyproject.toml)
pyinstaller-hooks-contrib==2025.3
    # via pyinstaller
pylint==3.3.6
    # via gitcache (pyproject.toml)
pytest==8.3.5
    # via
    #   gitcache (pyproject.toml)
    #   pytest-cov
    #   pytest-timeout
pytest-cov==6.1.1
    # via gitcache (pyproject.toml)
pytest-timeout==2.3.1
    # via gitcache (pyproject.toml)
pytimeparse==1.1.8
    # via gitcache (pyproject.toml)
requests==2.32.3
    # via sphinx
roman-numerals-py==3.1.0
    # via sphinx
snowballstemmer==2.2.0
    # via sphinx
sphinx==8.2.3
    # via
    #   gitcache (pyproject.toml)
    #   sphinx-rtd-theme
    #   sphinxcontrib-jquery
sphinx-pyproject==0.3.0
    # via gitcache (pyproject.toml)
sphinx-rtd-theme==3.0.2
    # via gitcache (pyproject.toml)
sphinxcontrib-applehelp==2.0.0
    # via sphinx
sphinxcontrib-devhelp==2.0.0
    # via sphinx
sphinxcontrib-htmlhelp==2.1.0
    # via sphinx
sphinxcontrib-jquery==4.1
    # via sphinx-rtd-theme
sphinxcontrib-jsmath==1.0.1
    # via sphinx
sphinxcontrib-qthelp==2.0.0
    # via sphinx
sphinxcontrib-serializinghtml==2.0.0
    # via sphinx
stack-data==0.6.3
    # via ipython
tomli==2.2.1
    # via dom-toml
tomlkit==0.13.2
    # via pylint
traitlets==5.14.3
    # via
    #   ipython
    #   matplotlib-inline
types-mock==5.2.0.20250306
    # via gitcache (pyproject.toml)
typing-extensions==4.13.2
    # via
    #   domdf-python-tools
    #   mypy
urllib3==2.4.0
    # via requests
wcwidth==0.2.13
    # via prompt-toolkit

# The following packages are considered to be unsafe in a requirements file:
# setuptools
