alabaster==0.7.13
    # via sphinx
altgraph==0.17.4
    # via pyinstaller
astroid==3.2.0
    # via pylint
asttokens==2.4.1
    # via stack-data
attrs==23.2.0
    # via flake8-bugbear
babel==2.15.0
    # via sphinx
backcall==0.2.0
    # via ipython
black==24.4.2
    # via
    #   flake8-black
    #   gitcache (pyproject.toml)
certifi==2024.2.2
    # via requests
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via black
coloredlogs==15.0.1
    # via gitcache (pyproject.toml)
coverage[toml]==7.5.1
    # via
    #   gitcache (pyproject.toml)
    #   pytest-cov
decorator==5.1.1
    # via ipython
dill==0.3.8
    # via pylint
docutils==0.20.1
    # via
    #   sphinx
    #   sphinx-rtd-theme
dom-toml==2.0.0
    # via sphinx-pyproject
domdf-python-tools==3.8.0.post2
    # via
    #   dom-toml
    #   sphinx-pyproject
exceptiongroup==1.2.1
    # via pytest
executing==2.0.1
    # via stack-data
flake8==7.0.0
    # via
    #   flake8-black
    #   flake8-bugbear
    #   flake8-comprehensions
    #   flake8-isort
    #   flake8-pyproject
    #   gitcache (pyproject.toml)
    #   pep8-naming
flake8-black==0.3.6
    # via gitcache (pyproject.toml)
flake8-bugbear==24.4.26
    # via gitcache (pyproject.toml)
flake8-comprehensions==3.14.0
    # via gitcache (pyproject.toml)
flake8-isort==6.1.1
    # via gitcache (pyproject.toml)
flake8-pyproject==1.2.3
    # via gitcache (pyproject.toml)
humanfriendly==10.0
    # via coloredlogs
idna==3.7
    # via requests
imagesize==1.4.1
    # via sphinx
importlib-metadata==7.1.0
    # via
    #   domdf-python-tools
    #   pyinstaller
    #   pyinstaller-hooks-contrib
    #   sphinx
iniconfig==2.0.0
    # via pytest
ipython==8.12.3
    # via gitcache (pyproject.toml)
isort==5.13.2
    # via
    #   flake8-isort
    #   gitcache (pyproject.toml)
    #   pylint
jedi==0.19.1
    # via ipython
jinja2==3.1.4
    # via sphinx
markupsafe==2.1.5
    # via jinja2
matplotlib-inline==0.1.7
    # via ipython
mccabe==0.7.0
    # via
    #   flake8
    #   pylint
mock==5.1.0
    # via gitcache (pyproject.toml)
mypy==1.10.0
    # via gitcache (pyproject.toml)
mypy-extensions==1.0.0
    # via
    #   black
    #   mypy
natsort==8.4.0
    # via domdf-python-tools
packaging==24.0
    # via
    #   black
    #   pyinstaller
    #   pyinstaller-hooks-contrib
    #   pytest
    #   sphinx
parso==0.8.4
    # via jedi
pathspec==0.12.1
    # via black
pep8-naming==0.13.3
    # via gitcache (pyproject.toml)
pexpect==4.9.0
    # via ipython
pickleshare==0.7.5
    # via ipython
platformdirs==4.2.1
    # via
    #   black
    #   pylint
pluggy==1.5.0
    # via pytest
portalocker==2.8.2
    # via gitcache (pyproject.toml)
prompt-toolkit==3.0.43
    # via ipython
ptyprocess==0.7.0
    # via pexpect
pure-eval==0.2.2
    # via stack-data
pycodestyle==2.11.1
    # via
    #   flake8
    #   gitcache (pyproject.toml)
pyflakes==3.2.0
    # via flake8
pygments==2.18.0
    # via
    #   ipython
    #   sphinx
pyinstaller==6.6.0
    # via gitcache (pyproject.toml)
pyinstaller-hooks-contrib==2024.6
    # via pyinstaller
pylint==3.2.0
    # via gitcache (pyproject.toml)
pytest==8.2.0
    # via
    #   gitcache (pyproject.toml)
    #   pytest-cov
    #   pytest-timeout
pytest-cov==5.0.0
    # via gitcache (pyproject.toml)
pytest-timeout==2.3.1
    # via gitcache (pyproject.toml)
pytimeparse==1.1.8
    # via gitcache (pyproject.toml)
pytz==2024.1
    # via babel
requests==2.31.0
    # via sphinx
six==1.16.0
    # via asttokens
snowballstemmer==2.2.0
    # via sphinx
sphinx==7.1.2
    # via
    #   gitcache (pyproject.toml)
    #   sphinx-rtd-theme
    #   sphinxcontrib-jquery
sphinx-pyproject==0.3.0
    # via gitcache (pyproject.toml)
sphinx-rtd-theme==2.0.0
    # via gitcache (pyproject.toml)
sphinxcontrib-applehelp==1.0.4
    # via sphinx
sphinxcontrib-devhelp==1.0.2
    # via sphinx
sphinxcontrib-htmlhelp==2.0.1
    # via sphinx
sphinxcontrib-jquery==4.1
    # via sphinx-rtd-theme
sphinxcontrib-jsmath==1.0.1
    # via sphinx
sphinxcontrib-qthelp==1.0.3
    # via sphinx
sphinxcontrib-serializinghtml==1.1.5
    # via sphinx
stack-data==0.6.3
    # via ipython
tomli==2.0.1
    # via
    #   black
    #   coverage
    #   dom-toml
    #   flake8-black
    #   flake8-pyproject
    #   mypy
    #   pylint
    #   pytest
tomlkit==0.12.5
    # via pylint
traitlets==5.14.3
    # via
    #   ipython
    #   matplotlib-inline
types-mock==5.1.0.20240425
    # via gitcache (pyproject.toml)
typing-extensions==4.11.0
    # via
    #   astroid
    #   black
    #   domdf-python-tools
    #   ipython
    #   mypy
    #   pylint
urllib3==2.2.1
    # via requests
wcwidth==0.2.13
    # via prompt-toolkit
zipp==3.18.1
    # via importlib-metadata

# The following packages are considered to be unsafe in a requirements file:
# setuptools
