#
# Manual workflow to update the pip-dependencies for macos and
# create a pull request to merge them to master.
#

name: Pip Dependencies Upgrade on MacOS

on:
  workflow_dispatch:
    inputs:
      commit_message:
        description: 'Message of the commit'
        default: 'feature: Updated pip-dependencies for MacOS'
        required: true
        type: string
      committer:
        description: 'The author of the commit'
        default: 'Clemens Rabe <clemens.rabe@users.noreply.github.com>'
        required: true
        type: string

jobs:
  macos-14:
    runs-on: macos-14
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install dependencies
        run: |
          brew install make git-lfs
      - name: Pip Deps Upgrade
        run: |
          make pip-deps-upgrade
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "${{ inputs.commit_message }}"
          committer: "${{ inputs.committer }}"
          branch: "feature/update-macos-pip-deps"
          title: "Update MacOS Pip-Dependencies"
          assignees: "seeraven"
          reviewers: "seeraven"
